.normal {
    color: black;
}

.variant {
    color: red;
}

span {
  white-space: normal; /* Ensure it wraps */
  word-wrap: break-word; /* Optional, breaks long words */
}

p {
  white-space: normal; /* Allow line breaks */
  word-wrap: break-word; /* Ensure words break if they're too long */
}
/* Modal container (hidden by default) */
.modal {
    display: none;
    position: fixed;
    justify-content: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay background */
}

/* Modal content box */
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
    position: absolute;
    margin-left: 20px; /* Adjust as needed to position it next to the dropdown */
}

/* Modal content box */
.modal-content {
    background-color: white;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    justify-content: center;
}

.modal .columns {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Adjust the gap as needed */
}

.modal .column {
    flex: 1;
} /* Makes both columns take up equal space */
